   .headerC {
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 100%; 
  }
body {
  background: #232323;
}
.videoElement {
	margin: 0 auto;
}
.songName {
	font-family: 'Sunflower', sans-serif;
	color: white;
	font-size: 52;
}
.songAuthor {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 24;
}
.lyrics {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 20;
	padding: 5px;
}
